@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
  :root {
    --text: #01130c;
    --background: #f6fefc;
    --primary: #1ff498;
    --secondary: #72e4f8;
    --accent: #50b7f7;
    --primary-rgb: 31, 244, 152; 
  --secondary-rgb: 80, 183, 247;
  }
  .dark {
    --primary-rgb: 25, 200, 100;
  --secondary-rgb: 50, 150, 200; 
    --text: #ecfef7;
    --background: #010907;
    --primary: #0be084;
    --secondary: #07798d;
    --accent: #086faf;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
